In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
from pandas.plotting import parallel_coordinates
plt.style.use('ggplot')
%matplotlib inline

In [3]:
# read excel file
df = pd.read_excel('C:/Anaconda3/projects/oled/oled.xlsx', sheetname='TADF_model')
df = df[list(df.columns)[1:-6] + ['cd/A']]
print(df.shape)
df.head()

(63, 32)

,homo_HIL,thickness_HIL,lumo_HTL1,homo_HTL1,thickness_HTL1,lumo_HTL2,homo_HTL2,thickness_HTL2,lumo_HTL3,homo_HTL3,...,total_ETL_thickness,lumo_ETL1,homo_ETL1,thickness_ETL1,lumo_ETL2,homo_ETL2,thickness_ETL2,cathode_workfunction,thickness_EIL,cd/A
0,4.7,0,2.5,5.2,30,2.0,5.5,20,2.0,5.5,...,70,3.0,6.7,10,2.73,6.68,60.0,3.5,0.8,1.0
1,4.7,0,2.5,5.2,30,2.0,5.5,20,2.0,5.5,...,70,3.0,6.7,10,2.73,6.68,60.0,3.5,0.8,6.0
2,4.7,0,2.5,5.2,30,2.0,5.5,20,2.0,5.5,...,70,3.0,6.7,10,2.73,6.68,60.0,3.5,0.8,12.0
3,4.7,0,2.5,5.2,30,2.0,5.5,20,2.0,5.5,...,70,3.0,6.7,10,2.73,6.68,60.0,3.5,0.8,26.0
4,4.7,0,2.5,5.2,30,2.0,5.5,20,2.0,5.5,...,70,3.0,6.7,10,2.73,6.68,60.0,3.5,0.8,28.1

In [4]:
#Checking for missing data
NAs = df.isnull().sum()
NAs.sort_values(0, ascending=False)
NAs[NAs > 0]

#drop the missing data
df.dropna(axis=0, inplace=True)
print(df.shape)

(22, 32)